@{
    ViewData["Title"] = "Menú";
}
<body class="menu">
    <div class="logo"><img src="/logo.png"></div>
    <a class="btn btn-warning" href='@Url.Action("Play","Home",new {Idioma = "ES"})'>ES</a>
    <a class="btn btn-warning" href='@Url.Action("Play","Home",new {Idioma = "EN"})'>EN</a>
</body>
