* {
  color:white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/fondopreg.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

a:hover {
  color: white; 
  text-decoration:none; 
  cursor:pointer;  
}

.name {
  color: black;
}

.menu {
  background-image: url("/fondo.jpg");
  background-size: cover;
}

.logo {
  width: 45%;
  height: auto;
  margin-left: 27.5%;
}

.paises {
  width: 30%;
  height: auto;
  margin-left: 35%;
  text-align: center;
}

.idioma {
  width: 15%;
  height: auto;
}

.jugar {
  width: 15%;
  height: 20%;
  font-size: 200%;
  margin-left: 42.5%;
  margin-top: 2%;
}

.nombre {
  width: 30%;
  height: auto;
  margin-left: 40%;
  margin-top: 2%;
}

.dificultad {
  margin-top: 3%;
  float: right;
  width: 17%;
  height: auto;
  font-family:'Courier New', Courier, monospace;
}

.comodines {
  width: 80%;
  height: 15%;
  padding: 2%;
}

.comodin {
  padding-top: 3%;
  width: 30%;
  height: 100%;
  border: 1px white solid;
  color:white;
  text-decoration:none;
	text-align:center;
  font-size: 180%;
  font-family: fantasy;
  border-radius: 50%;
}

.on {
  padding:5%;
  padding-left: 7%;
  padding-right: 7%;
  background-color:rgb(191, 118, 0);
}

.onSP {
  padding:5%;
  padding-left: 3%;
  padding-right: 3%;
  background-color:rgb(191, 118, 0);
}

.offC {
  padding:5%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: rgb(131, 128, 128);
}

.offSP {
  padding:5%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(131, 128, 128);
}

.off {
  background-color: rgb(131, 128, 128);
}

.comodintit {
  padding-top: 1%;
}

.juego {
  margin-left: 10%;
  height: 80%;
}

.pregunta {
  padding-top: 3%;
  border: 1px white solid;
  width: 100%;
  height: 30%;
  text-align: center;
  font-size: 170%;
}

.respuesta {
  border: 1px white solid;
  height: 50%;
}

.noValida {
  background-color: rgba(255, 255, 255, 0.15);
}

.textoRes {
  width: 80%;
  float: left;
  padding-left: 5%;
  padding-top: 3%;
  font-size: 100%;
}

.opcion {
  margin-top: 2%;
  border: 1px white solid;
  width: 15%;
  height: auto;
  float: left;
  text-align: center;
  font-size: 200%;
  color:white;
  text-decoration:none;
}

.normal {
  background-color:rgb(40, 90, 140);
}

.mal {
  background-color: rgb(194, 30, 30);
}

.opciones {
  height: 30%;
  padding: 2%;
}

.contDer {
  width: 60%;
  height: 100%;
  float: right;
}

.escalon {
  padding-left: 2%;
  border: 1px white solid;
  width: 100%;
  font-size: 115%;
}

.escalonSeg {
  padding-left: 2%;
  margin-right: 15%;
  border: 1px white solid;
  width: 115%;
  font-size: 130%;
  font-weight: bold;
}

.completado {
  background-color: rgb(48, 160, 50);
}

.enJuego {
  background-color: rgb(213, 185, 5);
}

.accion {
  margin-top: 3%;
  font-size: 130%;
}

.logofinal {
  width: 75%;
  height: auto;
  margin-left: 12.5%;
  margin-bottom: 3%;
}

.msjFinal {
  text-align: center;
  padding-top: 5%;
}

.pozoGanado {
  padding-top: 3%;
  font-size: 400%;
  font-family:'Times New Roman', Times, serif;
  color:greenyellow;
}