* {
  color:white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/fondopreg.jpg");
  background-size: cover;
}

img{
  width: 100%;
  height: auto;
}

.menu {
  background-image: url("/fondo.jpg");
  background-size: cover;
}

.logo {
  width: 45%;
  height: auto;
  margin-left: 27.5%;
}

.jugar {
  width: 15%;
  height: 20%;
  font-size: 200%;
  margin-left: 42.5%;
  margin-top: 2%;
}

.nombre {
  width: 30%;
  height: auto;
  margin-left: 40%;
  margin-top: 2%;
}

.comodines {
  width: 80%;
  height: 15%;
  padding: 2%;
}

.comodin {
  padding-top: 3%;
  width: 30%;
  height: 100%;
  border: 1px white solid;
	text-align:center;
  font-size: 180%;
  font-family: fantasy;
  border-radius: 50%;
}

.on {
  background-color:rgb(191, 118, 0);
}

.off {
  background-color: rgb(131, 128, 128);
}

.comodintit {
  padding-top: 1%;
}

.juego {
  margin-left: 10%;
  height: 80%;
}

.pregunta {
  padding-top: 3%;
  border: 1px white solid;
  width: 100%;
  height: 30%;
  text-align: center;
  font-size: 170%;
}

.respuesta {
  border: 1px white solid;
}

.textoRes {
  float: left;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 150%;
}

.opcion {
  margin-top: 2%;
  border: 1px white solid;
  width: 15%;
  height: 80%;
  float: left;
  text-align: center;
  font-size: 200%;
}

.normal {
  background-color:rgb(40, 90, 140);
}

.mal {
  background-color: rgb(194, 30, 30);
}

.opciones {
  height: 30%;
  padding: 2%;
}

.contDer {
  width: 60%;
  height: 100%;
  float: right;
}

.escalon {
  padding-left: 2%;
  border: 1px white solid;
  width: 100%;
  font-size: 115%;
}

.escalonSeg {
  padding-left: 2%;
  margin-right: 15%;
  border: 1px white solid;
  width: 115%;
  font-size: 130%;
  font-weight: bold;
}

.completado {
  background-color: rgb(48, 160, 50);
}

.accion {
  margin-top: 3%;
  font-size: 130%;
}

.logofinal {
  width: 25%;
  height: auto;
  margin-left: 37.5%;
}